<header id="header">
    <h1>{{client.name}}</h1>
    <p><span class="count">{{client.servers}}</span> + Servers &nbsp;&bull;&nbsp; <span
            class="count">{{client.channels}}</span> + Channels &nbsp;&bull;&nbsp; <span
            class="count">{{client.members}}</span> + Members</p>
    <nav>
        <ul>
            <li><a href="https://github.com/Maaato/ameisin-bot" class="icon brands fa-github"><span
                        class="label">Github</span></a></li>
        </ul>
    </nav>
</header>
{{> components/footer}}